@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<NewsItem>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @{
        if (Model.Count > 0)
        {
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>@Localizer["Title"]</th>
                        <th>@Localizer["Subtitle"]</th>
                        <th>@Localizer["Content"]</th>
                        <th>@Localizer["Created"]</th>
                        <th>@Localizer["Author"]</th>
                        <th>@Localizer["PathToImage"]</th>
                        <th>@Localizer["ImagePreview"]</th>
                        <th>@Localizer["Actions"]</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var newsItem in Model)
                    {
                        <tr>
                            <td>@newsItem.Title</td>
                            <td>@newsItem.SubTitle</td>
                            <td>@newsItem.Content</td>
                            <td>@newsItem.Created</td>
                            <td>@newsItem.Author</td>
                            <td>@newsItem.PathToImage</td>
                            <td><img width="30px" src="@newsItem.PathToImage" alt="@newsItem.PathToImage"></td>
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@newsItem.Id">@Localizer["Edit"]</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@newsItem.Id">@Localizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    }
    <a class="btn btn-primary" asp-action="Create">@Localizer["Create"]</a>
</div>
</body>
</html>