@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NewsApp.ViewModels.IndexViewModel<NewsItem>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @{
        if (Model.Items.Any())
        {
            <div class="row">
            @foreach (var newsItem in Model.Items)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@newsItem.PathToImage" alt="@newsItem.PathToImage">
                        <div class="card-body">

                            <h5 class="card-title">@newsItem.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@newsItem.SubTitle</h6>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@newsItem.Id">@Localizer["Details"]</a>
                        </div>
                    </div>
                </div>
            }
            </div>
        }
    }
    
    <partial name="_PaginationPartial" model="Model.PagingInfo"/>
</div>
</body>
</html>